################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UG.Mobilization.Droid/v14
/.vs/UG.Mobilization.Droid/v14
/packages
